.banner {
    .banner {
        &__container {
            position: relative;
            height: 100vh;

            &--sm { 
                height: 100vh;
                @include media-breakpoint-up (sm) {
                    height: 50vh; 
                }
            }
            &--md { 
                height: 100vh; 
                @include media-breakpoint-up (sm) {
                    height: 60vh; 
                }
            }
            &--lg { 
                height: 100vh;
                @include media-breakpoint-up (sm) {
                    height: 80vh; 
                }
            }
        }

        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
        }

        &__img-holder {
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
        }

        &__content {
            position: absolute;
            text-align: center;
            color: #fff;
            line-height: ($global-spacing * 3);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &--center {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: auto;
                height: auto;
            }
        }

    }

    &--parallax {
        .banner {

            &__img-holder {
                background-attachment: fixed;
            }

        }
    }
}