.btn {
    transition: all .3s ease-in-out;

    &.btn {

        &--outline {
            border: 1px solid $primary-color;
            color: $primary-color;

            &:hover {
                background-color: $primary-color;
                color: #fff;
            }
        }

        &--overlay {
            border: 1px solid #fff;
            color: #fff;

            &:hover {
                background-color: #000;
                border: 1px solid #000;
                color: #fff;
            }
        }

        &--standard {
            background-color: $primary-color;
            height: 35px;
            color: #fff;

            &:hover {
                background-color: $darken-primary-color;
            }
        }
        &--rounded {
            background-color: $primary-color;
            border-radius: 50px;
            color: #fff;
        }
    }

}