.quick-view {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 5;
    right: -140px;
    transition: all 0.3s ease-in-out;

    &.is-active {
        right: 0;
    }

    .quick-view {

        &__container {
            position: relative;
        }

        &__action-container {
            background-color: #0ae;
            padding: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            transition: all 0.3s ease-in-out;
            display: inline-block;
            transform: rotate(-90deg) translateY(-37%);
            position: absolute;
            top: 37%;
            left: -34px;
            width: 150px;
            text-align: center;

            span {
                color: #fff;
                text-decoration: none;
                cursor: pointer;
            }
        }

        &__list {
            border: 1px solid #dddddd;
            background-color: #fff;
            padding: 10px;
            display: inline-block;
            vertical-align: bottom;
            margin-left: 47px;
            list-style: none;
            max-height: 150px;
            overflow-y: auto;
            position: relative;
            top: 8px;
            height: 150px;

            .quick-view__list-item {
                text-align: right;
                padding: 0;
                margin: 0;

                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #dedede;
                }

                &.is-active {
                    a {
                        color: #333;
                    }
                }
            }
        }

    }

}