/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #040404;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: $primary-color; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: $darken-primary-color; 
}