.cards {
    @include make-row();
    margin-left: 0;
    margin-right: 0;
    .card {
        position: relative;
        margin: 0px;
        @include make-col(12);

        @include media-breakpoint-up (sm) {
            @include make-col(6);
            margin: 1px 0px;
        }

        @include media-breakpoint-up (md) {
            @include make-col(4);
        }

        &:hover {
            .card__body {
                opacity: 1;
            }
        }

        .card {
            &__img-holder {
                img {
                    max-height: 100%;
                    max-width: 100%;

                    @include media-breakpoint-up (sm) {
                        max-height: 100%;
                    }
                }
            }
            
            &__body {
                opacity: 0;
                transition: all .3s ease-in-out;
                .card__content {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    color: #fff;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    width: 100%;

                    .title {
                        font-size: 28px;
                        text-decoration: underline;
                    }

                    .description {
                        font-size: 18px;
                    }

                    .btn--action {

                    }
                }
                

            }

            &__overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
            }
        }

    }

}