.list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &.list {
        &--inline {
            .list__item {
                display: inline;

                &:not(:last-child()) {
                    margin-right: ($global-spacing / 3);
                }
                
            }
        }
    }
}